.scroll-bar:horizontal, .scroll-bar:vertical
{
    -fx-background-color: rgb(51,40,38);
}

.increment-button, .decrement-button 
{
    -fx-background-color: rgb(51,40,38);
    -fx-border-color: rgb(51,40,38);
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track
{
    -fx-background-color: rgb(51,40,38);
    -fx-border-color: rgb(51,40,38);
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb 
{
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scroll-pane > .viewport
{
    -fx-background-color: rgb(39,30,29);
}